*{
    margin: 0;
    padding: 0;
}

body{
  min-width: 100%;
  min-height: 100vh;
  background: #F5F5F5;
  /* overflow: hidden; */
}

/* Sidebar CSS */

aside{
    min-width: 312px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    background: #F5F5F5;
    bottom: 0;
  }

  aside .sidebar-items{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 16px;
    padding-top: 16px;
  
  }

  aside .sidebar-items .logo{
    width: 114px;
    height: 32px;
    padding-bottom: 1.5rem;
  }

  aside .sidebar-items .heading {
    font-size: 10px;
    padding: 6px 0px 6px 12px;
  }

  aside .sidebar-items .menu-items a{
   
    width: 280px;
    font-size: 14px;
    color: rgb(85, 83, 83);
    display: list-item;
    padding: 10px;
    justify-content: center;
    text-decoration: none;
  }

  .nav-item{
    top: 12px;
    justify-content: center;
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
  }

  a:hover{
    background: #eee;
  }

  a:hover .nav-item{
    color: #105DFB;
    transition: 0.5s;
  }

  .footer-items{
    position: fixed;
    bottom: 0;
  }

  .footer-items .footer-list{
    list-style: none;
  }

  .footer-items .footer-list .list-items .heading {
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    padding: 6px 0px 6px 12px;
  }

  .footer-items .footer-list .list-items a{
    width: 280px;
    font-size: 14px;
    color: rgb(85, 83, 83);
    display: table;
    padding: 10px;
    text-decoration: none;
  }


/* Header CSS */

header{
    position: fixed;
    right: 0;
    left: 312px;
    top: 0;
    padding: 24px;
    background: #F5F5F5;
    z-index: ;
}

header .header-content{
    display: flex;
    flex-direction: row;
    gap: 33px;
    align-items: center;
    justify-content: flex-end;
}

header .input-search{
    min-width: 221px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
}

.input-search .search{
    padding: 10px;
}

.input-search .search input{
    border: none;
}

.input-search .button-A {
    /* min-width: 35px;
    min-height: 20px;  */
    padding: 10px;
    justify-content: center;
    align-items: center;
}

header .avatar-info {
    width: 200px;
    height: 40px;
    /* position: absolute; */
    /* left: 904px; */
    gap: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.avatar-info .user-info{
    display: flex;
    flex-direction: column;
}

/* section  */

section{
  min-width: calc(100% - 312px);
  min-height: calc(100vh - 88px);
  margin-top: 88px;
  margin-left: 312px;
  position: relative;
  background: white;
  border-top-left-radius: 25px;
  z-index: -1;
}

section .main{
    min-width: calc(100% - 312px);
    min-height: calc(100vh - 88px);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 32px 32px;
    margin-right: 0;
}

section .main .main-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section .main .main-heading .component-info{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

section .main .main-heading .component-info .topic{
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

section .main .main-heading .component-info .date{
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
}

section .main .main-heading .btn-add{
    min-width: 146px;
    min-height: 40px;
    background: #ffff ;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    align-items: center;
    border: 1px solid #e6e6e6;
    border-radius: 7px;
    box-shadow: 0px 3px 4px -5px rgba(24, 24, 28, 0.03), 0px 1px 2px rgba(24, 24, 28, 0.04);
}

section .main .main-heading .btn-add span{
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Inter', sans-serif;
}

section .main hr.solid {
  border-top: 1px solid #bbb;
}


section .main .summary{
    display: flex;
    flex-direction: column;
    /* padding: 0px 32px; */
} 

section .main .summary .title{
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 28px;
    font-size: 20px;
    letter-spacing: -2%;
}


section .main .summary .desc{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 26px;
  font-size: 16px;
  color: #5F5F61;
  letter-spacing: -0.18px;
}

section .main .employee-list {
  background: #fff;
  
}

section .main .employee-list table {
  font-size: 15px;
  min-width: 100%;
  overflow: scroll;
}

section .main .employee-list table thead{
  min-height: 40px;
  padding: 0px 12px;
  color: #a1a0a3;
  background: #f5f5f5;
  text-align: left;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.32px;
}

section .main .employee-list table thead th{
  padding: 11px;
}

section .main .employee-list table tbody{
  text-align: left;
}

section .main .employee-list table tbody td{
  padding: 12px 24px 12px 8px;
  border-bottom: 1px solid #f5f5f5;
}

section .main .employee-list table tbody .emp-details{
  display: flex;
  flex-direction: column;
  padding: 5px;
}

section .main .employee-list table tbody .emp-details .emp-name{
  padding-bottom: 4px;
}

section .main .employee-list table tbody .emp-details .emp-name span{
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.05px;
}

section .main .employee-list table tbody .net-pay{
  text-align: right;
}

section .main .employee-list table tfoot .total-pay{
  text-align: right;
}

section .main .employee-list table tfoot th{
  padding: 12px 24px 12px 8px;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  font-family: 'Inter', sans-serif;
  border-bottom: 1px solid #f5f5f5;
  letter-spacing: -0.05px;
}

section .main .total{
  display: flex;
  flex-direction: column;
  padding-top: 0px;
  align-items: flex-end;
}

section .main .total .amount{
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -3%;
  font-style: normal;
  font-family: 'Inter', sans-serif;
}

section .main .submit-payroll{
  display: flex;
  justify-content: flex-end;
}

section .main .submit-payroll button {
  border: none;
  border-radius: 7px;
  min-width: 143px;
  min-height: 48px;
  background: #2080F6;
  font-family: 'Inter', sans-serif;
  color: #ffff;
  cursor: pointer;
  align-self: flex-end;
}

