*{
    margin: 0;
    padding: 0;
}

body{
  background: #F5F5F5;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

/* Sidebar CSS */

.sidebar{
    min-width: 312px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    background: #F5F5F5;
  }

  .sidebar .sidebar__items{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 16px;
    padding-top: 16px;
  }

  .logo{
    min-width: 114px;
    min-height: 32px;
    padding-bottom: 1.5rem;
  }

  /* Sidebar-menus */

  .menu{
    color: rgb(85, 83, 83);
  }

  .menu__heading {
    font-size: 10px;
    padding: 6px 0px 6px 12px;
  }

  .menu__list {
    list-style: none;
  }

  .menu__link{
    font-size: 14px;
    color: rgb(85, 83, 83);
    display: flex;
    padding: 10px;
    align-items: center;
    text-decoration: none;
    gap: 10px;
  }

  .menu__link:hover{
    background: #eee;
  }

  .menu__link:hover span{
    color: #105DFB;
    transition: 0.5s;
  }

  /* sidebar-footer */

  .sidebar__footer{
    position: fixed;
    bottom: 0;
  }

  .footer__list{
      list-style: none;
    }

  .footer__heading {
      font-size: 10px;
      color: rgb(85, 83, 83);
      padding: 6px 0px 6px 12px;
    }

  .footer__link{
    min-width: 280px;
    font-size: 14px;
    color: rgb(85, 83, 83);
    display: table;
    padding: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
  }

/* Header CSS */

.header{
    position: fixed;
    right: 0;
    left: 312px;
    top: 0;
    padding: 24px;
    background: #F5F5F5;
    z-index: 2;
}

  .header__content {
      display: flex;
      gap: 33px;
      align-items: center;
      justify-content: flex-end;
  }

  .form__search{
      display: flex;
      align-items: center;
      background: white;
      border-radius: 12px;
    }

  .search .search__container{
      padding-left: 10px;
      gap: 10px;

  }
    .search__container input{
      border: none; 
      border-width: 0;
      box-shadow: none;
      outline: 0;
  }

    .btn{
        justify-content: center;
        align-items: center;
        border: none;
        background: #fff;
        cursor: pointer;
  }

    .btn--secondary{
        padding: 10px;
        border-radius: 12px;
  }

  .user .user__account{
      min-width: 200px;
      min-height: 40px;
      gap: 12px;
      display: flex;
      align-items: center;
  }

  .user .user__info{
      display: flex;
      flex-direction: column;
      font-size: 14px;
      line-height: 20px;
  }

/* section CSS */

.main{
  min-width: calc(100% - 312px);
  min-height: calc(100vh - 88px);
  margin-top: 88px;
  margin-left: 312px;
  position: relative;
  bottom: 0;
  background: white;
  border-top-left-radius: 25px;
  /* z-index: -2; */
}

  .main__content{
      min-width: calc(100% - 312px);
      min-height: calc(100vh - 88px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 25px;
      border-top-left-radius: 25px;
      padding: 32px 32px;
  }

  .content__heading{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #bbb;
      padding-bottom: 25px;
  }

  .content__title{
      font-family: 'Inter', sans-serif;
      display: flex;
      flex-direction: column;
      gap: 9px;
  }

  .content__title h3{
      font-weight: 600;
      font-size: 24px;
      line-height: 28px;
  }

  .content__date{
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      font-weight: 400;
      color: #5F5F61;
      font-size: 14px;
  }

  .btn--add {
      background: #ffff ;
      display: flex;
      font-weight: 600;
      padding: 10px;
      gap: 10px;
      align-items: center;
      border: 1px solid #e6e6e6;
      border-radius: 7px;
      box-shadow: 0px 3px 4px -5px rgba(24, 24, 28, 0.03), 0px 1px 2px rgba(24, 24, 28, 0.04);
  }

  .content_desc{
      display: flex;
      flex-direction: column;
      font-size: 16px;
  } 

  .content__title{
      font-weight: 600;
      line-height: 28px;
      font-size: 20px;
      letter-spacing: -2%;
  }

  .content__title p{
      color: #5F5F61;
      line-height: 26px;
  }

  .table{
    background: #fff;
  }

  table {
    font-size: 15px;
    min-width: 100%;
    overflow: scroll;
    border-spacing: 0;
  }

  thead{
    color: #a1a0a3;
    background: #f5f5f5;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
  }

  thead th{
    padding: 11px 0px;
    text-align: left;
  }

  tbody{
    color: #5F5F61;
  }

  .column{
    display: flex;
    flex-direction: column;
    padding: 12px 24px 12px 8px;
    border-bottom: 1px solid #f5f5f5;
  }

  .column__name{
    text-align: left;
    font-weight: 600;
    padding-bottom: 4px;
  }

  .column__details {
      display: flex;
      color: #5F5F61;
      gap: 8px;
      align-items: center;
  }

  .column__amount{
    padding: 0px;
    text-align: right;
  }

  tfoot th{
    padding: 12px 24px 12px 0px;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    border-bottom: 1px solid #f5f5f5;
  }

  .sum__container{
    min-height: 150px ;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-style: normal;
    gap: 8px;
    font-size: 18px;
    font-weight: normal;
  }

  .sum__container h2{
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -3%;
  }

  .btn--primary {
    min-width: 143px;
    min-height: 48px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    border: none;
    border-radius: 7px;
    background: #2080F6;
    color: #ffff;
    align-self: flex-end;
    cursor: pointer;
  }

