

*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #F5F5F5;
}

/* Sidebar CSS */

aside{
    width: 312px;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    padding-left: 16px;
    padding-top: 16px;
    overflow: hidden;
    position: fixed;
  }

  aside .sidebar-items{
    list-style: none;
  
  }

  aside .sidebar-items .logo{
    width: 114px;
    height: 32px;
    padding-bottom: 1.5rem;
  }

  aside .sidebar-items .heading {
    font-size: 10px;
    padding: 6px 0px 6px 12px;
  }

  aside .sidebar-items .menu-items a{
    position: relative;
    width: 280px;
    font-size: 14px;
    color: rgb(85, 83, 83);
    display: list-item;
    padding: 10px;
    justify-content: center;
    text-decoration: none;
  }

  .nav-item{
    top: 12px;
    justify-content: center;
    margin-left: 10px;
    font-family: 'Inter', sans-serif;
  }

  a:hover{
    background: #eee;
  }

  a:hover .nav-item{
    color: #105DFB;
    transition: 0.5s;
  }

  .footer-items{
    position: absolute;
    bottom: 16px;
  }

  .footer-items .footer-list{
    list-style: none;
  }

  .footer-items .footer-list .list-items .heading {
    font-size: 10px;
    font-family: 'Inter', sans-serif;
    padding: 6px 0px 6px 12px;
  }

  .footer-items .footer-list .list-items a{
    position: relative;
    width: 280px;
    font-size: 14px;
    color: rgb(85, 83, 83);
    display: table;
    padding: 10px;
    text-decoration: none;
  }


/* Header CSS */

header{
    position: fixed;
    right: 0;
    padding: 24px;
    left: 312px;
    top: 0;
}

header .header-content{
    position: absolute;
    right: 24px;
    display: flex;
    flex-direction: row;
    gap: 33px;
}

header .input-search{
    width: 291px;
    height: 40px;
    /* position: absolute; */
    /* left: 580px; */
    display: flex;
    flex-direction: row;
    background: white;
}

.input-search .search{
    width: 228px;
    height: 40px; 
    padding: 10px;
}

.input-search .search input{
    width: 46px;
    height: 20px;
    border: none;
}

.input-search .button-A {
    width: 35px;
    height: 20px; 
    padding: 10px;
    justify-content: center;
    align-items: center;
}

header .avatar-info {
    width: 200px;
    height: 40px;
    /* position: absolute; */
    /* left: 904px; */
    gap: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.avatar-info .avatar {

}

.avatar-info .user-info{
    display: flex;
    flex-direction: column;
}

section{
    min-width: 100%;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 312px;
    top: 88px;
    background: white;
    display: flex;
}

section .main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    padding: 32px;

}

section .main .main-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
}

section .main .main-heading .component-info{
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 9px;
}

section .main .main-heading .component-info .topic{
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
}

section .main .main-heading .component-info .date{
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
}

section .main .main-heading button{
    position: fixed;
    right: 16px;
    min-width: 146px;
    min-height: 40px;
    background: #e6e6e6 ;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 10px;
    align-items: center;
}

section .main .summary{
    display: flex;
    flex-direction: column;
    padding: 25px 32px;
}

 