.main {
  min-width: calc(100% - 312px);
  min-height: calc(100vh - 88px);
  margin-top: 88px;
  margin-left: 312px;
  position: relative;
  bottom: 0;
  background: $light-color;
  border-top-left-radius: 25px;

  &__content {
    @include flexColumn();
    gap: 25px;
    border-top-left-radius: 25px;
    padding: 32px;
  }
}

.content {
  @include centerItems();
  justify-content: space-between;
  border-bottom: 1px solid $cream;
  padding-bottom: 25px;

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 9px;
  }

  &__title {
    font-weight: $semiBold;
    font-size: 24px;
  }

  &__date {
    @include flexCenter();
    gap: 10px;
    font-weight: $normal;
    color: #5f5f61;
    font-size: 14px;
  }
}

.desc {
  @include flexColumn();
  font-size: 14px;
  gap: 8px;

  &__title {
    font-weight: $semiBold;
    font-size: 18px;
  }

  &__text {
    color: $dark-grey;
  }
}

.sum {
  min-height: 150px;
  @include flexColumn();
  align-items: flex-end;
  gap: 8px;
  font-size: 18px;
  font-weight: normal;

  &__heading {
    font-weight: $semiBold;
    font-size: 32px;
    line-height: 40px;
  }
}

.row {
  display: flex;
}
