* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

#Update {
  display: none;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.final {
  font-weight: 600;
  color: black;
  padding: 12px 0px 12px 8px;
}

.text-danger {
  color: #dc3545;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #fff;
  cursor: pointer;
  border-radius: 7px;
}
.btn--secondary {
  padding: 10px;
  border-radius: 12px;
}

.btn-add {
  font-weight: 600;
  padding: 10px;
  gap: 10px;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 3px 4px -5px rgba(24, 24, 28, 0.03), 0px 1px 2px rgba(24, 24, 28, 0.04);
}

.btn-primary {
  min-width: 143px;
  min-height: 48px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background: #105dfb;
  color: #fff;
  align-self: flex-end;
}

.btn-grp {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 130px;
  min-height: 30px;
  color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 7px;
  gap: 20px;
  border: none;
}
.btn-grp__success {
  cursor: pointer;
  background: #28a745;
}
.btn-grp__danger {
  cursor: pointer;
  background: #dc3545;
}
.btn-grp__update {
  cursor: pointer;
  background: #105dfb;
}

.table-btn {
  justify-content: flex-start;
  width: 150px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

/* Sidebar-menus */
.menu {
  color: #555353;
}
.menu__heading {
  font-size: 10px;
  padding: 0px 0px 6px 12px;
}
.menu__list {
  list-style: none;
}
.menu__link {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555353;
  padding: 10px;
  text-decoration: none;
  gap: 10px;
}
.menu__link:hover {
  background: #eee;
}
.menu__link:hover span {
  color: #105dfb;
  transition: 0.5s;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 12px;
}
.search__container {
  padding-left: 10px;
  gap: 10px;
}
.search__container input {
  border: none;
  border-width: 0;
  box-shadow: none;
  outline: 0;
  font-size: 14px;
}

.user {
  min-width: 200px;
  min-height: 40px;
  gap: 12px;
  display: flex;
  align-items: center;
}
.user__info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.content__title {
  font-weight: 600;
  font-size: 24px;
}
.content__date {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: 400;
  color: #5f5f61;
  font-size: 14px;
}

.table {
  font-size: 14px;
  min-width: 100%;
  overflow: scroll;
  background: #fff;
  border-spacing: 0;
}
.table__head {
  color: #a1a0a3;
  background: #f5f5f5;
  font-weight: 600;
  font-size: 12px;
}
.table__row {
  text-align: left;
}
.table__row th {
  padding: 10px;
}
.table__body {
  color: #5f5f61;
}
.table__data {
  border-bottom: 1px solid #f5f5f5;
  padding-left: 8px;
  cursor: pointer;
  width: 200px;
}
.table__column {
  align-items: flex-start;
  padding: 12px 24px 12px 0px;
}
.table__name {
  text-align: left;
  font-weight: 600;
  padding-bottom: 4px;
}
.table__details {
  display: flex;
  align-items: center;
  color: #555353;
  gap: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form__text {
  text-align: center;
  padding: 15px;
}

.input-group {
  display: flex;
  flex-direction: column;
}
.input-group__input[type=text], .input-group__input[type=number] {
  width: 100%;
  padding: 10px;
  border-radius: 7px;
  background: #f5f5f5;
}
.input-group__label {
  font-size: 14px;
  font-weight: 400;
}
.input-group span {
  padding-top: 5px;
}

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Header CSS */
.header {
  position: fixed;
  right: 0;
  left: 312px;
  top: 0;
  padding: 24px;
  background: #f5f5f5;
  z-index: 2;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 33px;
}

.main {
  min-width: calc(100% - 312px);
  min-height: calc(100vh - 88px);
  margin-top: 88px;
  margin-left: 312px;
  position: relative;
  bottom: 0;
  background: #fff;
  border-top-left-radius: 25px;
}
.main__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-top-left-radius: 25px;
  padding: 32px;
}
.main__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
}
.main__desc {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: #5f5f61;
  gap: 8px;
  font-weight: 400;
}
.main__desc--title {
  font-weight: 600;
  font-size: 18px;
  color: #333;
}
.main__popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  min-width: 100%;
  min-height: 100%;
  z-index: 100;
  overflow-y: scroll;
}
.main__popup-wrapper {
  min-width: 30%;
  min-height: 50vh;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%, 5%);
  border: 3px solid #fff;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  border: 1px solid black;
}
.main__footer {
  padding-top: 20px;
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 20px;
}
.main__footer--text {
  font-weight: 600;
  font-size: 40px;
  padding-bottom: 8px;
  line-height: 40px;
}

.sidebar {
  min-width: 312px;
  min-height: 100vh;
  position: fixed;
  bottom: 0;
  background: #f5f5f5;
}
.sidebar__content {
  position: absolute;
  min-width: 312px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 24px 16px;
  gap: 30px;
}
.sidebar__logo {
  min-width: 114px;
  min-height: 32px;
}
.sidebar__footer {
  margin-top: auto;
}/*# sourceMappingURL=main.css.map */